{% extends 'index.html' %}

{% block content %}


  <article>
    <h2>Geometry</h2>
    <p>Geometry (from Ancient Greek γεωμετρία (geōmetría) 'land measurement'; from γῆ (gê) 'earth, land', and μέτρον (métron) 'a measure')[citation needed] is, with arithmetic, one of the oldest branches of mathematics.</p>
  </article>
  

  <article>
    <h2>2D figures </h2>
    <p>In Euclidean geometry a plane is a flat, two-dimensional surface that extends infinitely the definitions for other types of geometries are generalizations of that. Planes are used in many areas of geometry. </p>
  </article>


  <article>
    <h2>3D figures</h2>
    <p>In mathematics, solid geometry or stereometry is the traditional name for the geometry of three-dimensional, Euclidean spaces.</p>
  </article>
  


{% endblock content %}